<% content_for :cattitle do %> 
  ARTYKUŁY I TEKSTY
<% end %>

<% content_for :catdes do %> 
  W JĘZYKU HISZPAŃSKIM
<% end %>

<% content_for :rightmenu do %>
     <ul class="nav nav-stacked">

         
                    <li><h3 class="highlight">POZIOM </i></h3></li>
                      <li><%= link_to "Wszystkie", articles_path %></li>
                    <li><%= link_to "Początkujący", articles_level_path(1) %></li>
                    <li><%= link_to "Średniozaawansowany", articles_level_path(2) %></li>
                    <li><%= link_to "Zaawansowany", articles_level_path(3) %></li>
              
               
        </ul>
<% end %>
  
<% @articles.each do |article| %>  
  <div class="row">
      <% unless  article.image.blank? %>   <div class="col-md-9 shorttext">     <% end %>
      <% if  article.image.blank? %>   <div class="col-md-12 shorttext">     <% end %>
        <h2><%= link_to article.title, article %></h2>
        <p class="date"><%= article.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
        <%= article.body.truncate_words(50).html_safe %>
        <%= link_to "czytaj więcej", article %>       
  </div> 
      <% unless  article.image.blank? %>
        <div class="col-md-2">
           <div class="thumbimage"> <%= image_tag article.image.url(:thumb) %> </div>
        </div>
      <% end %>
  </div>
        <!-- <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<% end %>

<!-- 
<%= link_to 'New News', new_article_path %>
 -->