<% content_for :cattitle do %> 


UŻYTKOWNIK
<% end %>

<% content_for :catdes do %> 
  <%= @user.email %>
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rola:</strong>
  <%= @user.role.name %>
</p>

<p>
  <strong>Zarejestrowany:</strong>
  <%= @joined_on %>
</p>

<p>
  <strong>Ostatnie logowanie:</strong>
  <%= @last_login %>
</p>

<p>
  <strong>Ilość logowań:</strong>
  <%= @user.sign_in_count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Powrót', users_path %>