<%= form_for @news,  html: { multipart: true } do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2>Aktualność nie została dodana z powodu <%= @news.errors.count %> <% if @news.errors.count == 1 %> błędu. <% else %> błędów. <% end %> </h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group ">
  <div class="field">
    <%= f.label :Tytuł %><br>
    <%= f.text_field :title , class: "form-control "  %> 

  <div class="field">
    <%= f.label 'Obrazek' %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :Treść %><br>
    <%= f.text_area :body, :class => "tinymce", :rows => 20, :cols => 120 %>

  </div>
  <div class="actions">
 <%= f.submit "Zapisz",  class: "btn btn-default"  %>
  </div>
</div>
<% end %>


