<% content_for :cattitle do %> 
  HISZPAŃSKI ONLINE
<% end %>

<% content_for :catdes do %> 
  MATERIAŁY DO NAUKI JĘZYKA HISZPAŃSKIEGO
<% end %>


<% content_for :rightmenu do %>
  <% unless user_signed_in? %>
      <div class="welcome" > 
   
     <h3 class="highlight">  </h3> 
     
    <%= link_to "Zarejestruj się", new_user_registration_path %> lub <br> <%= link_to "zaloguj", new_user_session_path %> aby móc <br> korzystać ze wszystkich opcji serwisu!
    
  </p>
  </div>
<% end %>
  <ul class="nav nav-stacked">
      <li><h3 class="highlight" >ARCHIWUM </h3></li>
                   
    <% @archnews.each do |news| %>
  
      <li>
        <%= link_to news.title, news %>
        <%= news.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
      </li>

    <% end %>                  
                   
  </ul>

<% end %>
  
  <!-- Page content -->



<% @news.each do |news| %>
  
 <div class="row">
 


     <% unless  news.image.blank? %>   <div class="col-md-9 shorttext">     <% end %>

      <% if  news.image.blank? %>   <div class="col-md-12 shorttext">     <% end %>





        <h2><%= link_to news.title, news %></h2>
        <p class="date"><%= news.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
  <% if user_signed_in? %>
              <%= link_to 'Edytuj', edit_news_path(news) %>
              <%= link_to 'Usuń', news, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <% end %>

        <%= news.body.truncate_words(35).html_safe %>
        <%= link_to "czytaj więcej", news %>
        
      </div>      <% unless  news.image.blank? %>
         <div class="col-md-2">
                  <div class="thumbimage"> <%= image_tag news.image.url(:thumb) %> </div>
         </div>
      <% end %>
</div>
 
<% end %>

<%= paginate @news %>


<br>
<!-- 
<%= link_to 'New News', new_news_path %>
 -->