<%= form_for(@link) do |f| %>
 <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2>Artykuł nie został dodany z powodu <%= @link.errors.count %> <% if @link.errors.count == 1 %> błędu. <% else %> błędów. <% end %> </h2>

      <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

  <div class="field">
    <%= f.label "Nazwa" %><br>
    <%= f.text_field :title, class: "form-control "  %> 
  </div>
  <div class="field">
    <%= f.label "Adres URL" %><br>
    <%= f.text_field :url, class: "form-control "  %> 
  </div>
  <div class="field">
    <%= f.label "Krótki opis" %><br>
    <%= f.text_area :description , class: "form-control "  %> 
  </div>



 <div class="field">
    <%= f.label 'Kategoria' %><br>
    <%= collection_select(:link, :category_id, Category.all, :id, :name, {prompt: "Wybierz z listy"},  class: "form-control" )%>
  </div>
  

  <div class="actions">
    <%= f.submit "Zapisz",  class: "btn btn-default"  %>
  </div>
</div>
<% end %>
