
<% content_for :cattitle do %> 


 BAZA LINKÓW
<% end %>

<% content_for :catdes do %> 
DO STRON ZWIĄZANYCH Z JĘZYKIEM HISZPAŃSKIM
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>


<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

               
            <% if user_signed_in? %>             <li>  <h3 class="highlight" > <%= link_to 'DODAJ LINK', new_link_path %> </h3></li> <% end %>
                    <li><h3 class="highlight">KATEGORIE </i></h3></li>
                  <li> <%= link_to links_path do %><i class="fa fa-eye fa-lg "></i>&nbsp; Wszystkie</a></li><% end %>
                  <li> <%= link_to links_category_path(1) do %><i class="fa fa-headphones fa-lg"></i>&nbsp;  Muzyka, nagrania </a></li><% end %>
                  <li> <%= link_to links_category_path(2) do %><i class="fa fa-video-camera fa-lg"></i>&nbsp; Filmy, wideo</a></li><% end %>
                  <li> <%= link_to links_category_path(3) do %><i class="fa fa-newspaper-o fa-lg"></i>&nbsp; Teksty, wiadomości</a></li><% end %>
               
                  <li> <%= link_to links_category_path(5) do %><i class="fa fa-book fa-lg"></i> Słowniki</a></li><% end %>
                     <li> <%= link_to links_category_path(4) do %><i class="fa fa-list-alt fa-lg"></i> Serwisy edukacyjne</a></li><% end %>
                  <li> <%= link_to links_category_path(6) do %><i class="fa fa-gamepad fa-lg"></i> Gry</a></li><% end %>
                  <li> <%= link_to links_category_path(7) do %><i class="fa fa-certificate  fa-lg"></i> Egzaminy</a></li><% end %>
                  <li> <%= link_to links_category_path(8) do %><i class="fa  fa-graduation-cap fa-lg"></i> Studia, szkoły</a></li><% end %>
                  <li> <%= link_to links_category_path(9) do %><i class="fa fa-asterisk fa-lg"></i> Inne</a></li><% end %>
                                  
   </ul>




<% end %>




<!-- <h1>Listing Links</h1> -->

<table class="table" id="links">
 <!--  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @links.each do |link| %>
   
        <td> 

      <% if link.category_id == 1 %> <!-- muzyka nagrania --> 
          <i class="fa fa-headphones fa-lg"></i> 
      <% end %>
         
       <% if link.category_id == 2 %> <!-- filmy video --> 
         <i class="fa fa-video-camera fa-lg"></i>
      <% end %>

      <% if link.category_id == 3 %>  <!-- wiadomosci --> 
         <i class="fa fa-newspaper-o fa-lg"></i>
      <% end %>
      
      <% if link.category_id == 4 %>        <!-- serwisy edukacyjne --> 
          <i class="fa fa-list-alt fa-lg"></i>
      <% end %>

      <% if link.category_id == 5 %>        <!-- słowniki --> 
          <i class="fa fa-book fa-lg"></i> 
      <% end %>
      
      <% if link.category_id == 6 %>  <!-- gry --> 
         <i class="fa fa-gamepad fa-lg"></i>
      <% end %>
    
      <% if link.category_id == 7 %>   <!-- egzaminy i certyfikaty --> 
         <i class="fa fa-certificate fa-lg"></i>
      <% end %>
  
      <% if link.category_id == 8 %>   <!--szkoly  --> 
          <i class="fa fa-graduation-cap fa-lg"></i>
      <% end %>

      <% if link.category_id == 9 %> <!-- inne --> 
        <i class="fa fa-asterisk fa-lg"></i> 
      <% end %>

        </td>





        <td><a href="<%= link.url %>"><%= link.title %> </a> </td>
<!--         <td><%= link.url %></td> -->
      <!--  -->  <td><%= link.description %></td>
       <% if user_signed_in? %>      <td><%= link_to 'Pokaż', link %></td>
        <td><%= link_to 'Edytuj', edit_link_path(link) %></td>
        <td><%= link_to 'Usuń', link, method: :delete, data: { confirm: 'Na pewno chcesz usunąć ten link?' } %></td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @links %>

<br>
