<% content_for :cattitle do %> 
  BAZA LINKÓW
<% end %>

<% content_for :catdes do %> 
  DO STRON ZWIĄZANYCH Z J. HISZPAŃSKIM
<% end %>

<% content_for :rightmenu do %>
  
   <ul class="nav nav-stacked">
            
      <% if user_signed_in? %>     
          <li>  <h3 class="highlight" > <%= link_to 'DODAJ LINK', new_link_path %> </h3></li>
      <% end %>
                  
      <li><h3 class="highlight">KATEGORIE </i></h3></li>
      <li> <%= link_to links_path do %><i class="fa fa-eye fa-lg "></i>&nbsp; Wszystkie</a></li><% end %>
      <li> <%= link_to links_category_path(1) do %><i class="fa fa-headphones fa-lg"></i>&nbsp;  Muzyka, nagrania </a></li><% end %>
      <li> <%= link_to links_category_path(2) do %><i class="fa fa-video-camera fa-lg"></i>&nbsp; Filmy, wideo</a></li><% end %>
      <li> <%= link_to links_category_path(3) do %><i class="fa fa-newspaper-o fa-lg"></i>&nbsp; Teksty, wiadomości</a></li><% end %>
      <li> <%= link_to links_category_path(5) do %><i class="fa fa-book fa-lg"></i>  Słowniki</a></li><% end %>
      <li> <%= link_to links_category_path(4) do %><i class="fa fa-list-alt fa-lg"></i>  Serwisy edukacyjne</a></li><% end %>
      <li> <%= link_to links_category_path(6) do %><i class="fa fa-gamepad fa-lg"></i>  Gry, ćwiczenia</a></li><% end %>
      <li> <%= link_to links_category_path(8) do %><i class="fa  fa-graduation-cap fa-lg"></i>  Szkoły, egzaminy</a></li><% end %>
      <li> <%= link_to links_category_path(9) do %><i class="fa fa-asterisk fa-lg"></i>  Inne</a></li><% end %>
     
      <li><h3 class="highlight">SZUKAJ STRONY</h3></li>
      <li>
        <%= form_tag(links_path, :method => "get", class: "form-inline", id: "search-form") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
            <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></div>
          </div>
        <% end %>
      </li>

  </ul>

<% end %>

<% if @links.first == nil %>  <div id="error_explanation"> Brak materiałów w tej kategorii  </div> <% end %>

<div class="table-responsive">
<table class="table" id="links">

  <tbody>
    <% @links.each do |link| %>
   
        <td> 

      <% if link.category_id == 1 %> <!-- muzyka nagrania --> 
          <i class="fa fa-headphones fa-lg"></i> 
      <% end %>
         
       <% if link.category_id == 2 %> <!-- filmy video --> 
         <i class="fa fa-video-camera fa-lg"></i>
      <% end %>

      <% if link.category_id == 3 %>  <!-- wiadomosci --> 
         <i class="fa fa-newspaper-o fa-lg"></i>
      <% end %>
      
      <% if link.category_id == 4 %>        <!-- serwisy edukacyjne --> 
          <i class="fa fa-list-alt fa-lg"></i>
      <% end %>

      <% if link.category_id == 5 %>        <!-- słowniki --> 
          <i class="fa fa-book fa-lg"></i> 
      <% end %>
      
      <% if link.category_id == 6 %>  <!-- gry --> 
         <i class="fa fa-gamepad fa-lg"></i>
      <% end %>
    
      <% if link.category_id == 7 %>   <!-- egzaminy i certyfikaty --> 
         <i class="fa fa-certificate fa-lg"></i>
      <% end %>
  
      <% if link.category_id == 8 %>   <!--szkoly  --> 
          <i class="fa fa-graduation-cap fa-lg"></i>
      <% end %>

      <% if link.category_id == 9 %> <!-- inne --> 
        <i class="fa fa-asterisk fa-lg"></i> 
      <% end %>

 </td>


 <td><a href="<%= link.url %>"><%= link.title %> </a> </td>
 <td><%= link.description %></td> 
 <td><i> @<%= link.user.login %>  </i></td>
  <% if user_signed_in? && (current_user.role_id == 1 ||  current_user.role_id == 2) %>    <td><%= link_to 'Pokaż', link %></td>
        <td><%= link_to 'Edytuj', edit_link_path(link) %></td>
        <td><%= link_to 'Usuń', link, method: :delete, data: { confirm: 'Na pewno chcesz usunąć ten link?' } %></td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="text-center"><%= paginate @links %></div>

