
<% content_for :cattitle do %> 


 BAZA LINKÓW
<% end %>

<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                    <li>  <h3 class="highlight" > <%= link_to 'DODAJ LINK', new_link_path %> </h3></li>
                    <li><h3 class="highlight">KATEGORIE </i></h3></li>
                     <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i> Wszystkie</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-headphones"></i>  Muzyka, nagrania </a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-facetime-video"></i> Filmy, wideo</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-align-left"></i> Teksty, wiadomości</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Serwisy do nauki</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-book"></i> Słowniki</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-play"></i> Gry</a></li>

                    <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i> Inne</a></li>
                   
        </ul>



<% end %>



<p id="notice"><%= notice %></p>

<!-- <h1>Listing Links</h1> -->

<table class="table" id="links">
 <!--  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td> <i class="glyphicon glyphicon-headphones"></i> </td>
        <td><a href="<%= link.url %>"><%= link.title %> </a> </td>
        <td><%= link.url %></td>
        <td><%= link.description %></td>
    <!--     <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
