  <% content_for :cattitle do %> 
 MODERACJA
<% end %>

<% content_for :catdes do %> 
   LINKI DO STRON ZWIĄZANYCH Z J. HISZPAŃSKIM
<% end %>


<% content_for :rightmenu do %>
     <ul class="nav nav-stacked">

         
                    <li><h3 class="highlight">MODERACJA </i></h3></li>
                    <li><%= link_to "Artykuły", moderation_articles_path %> </li>
                  <li><%= link_to "Gramatyka", moderation_theories_path %> </li>
                  <li><%= link_to "Ćwiczenia", moderation_surveys_path %> </li>
                  <li><%= link_to "Linki", moderation_links_path %> </li>
                  <li><%= link_to "Słownictwo", moderation_vocabularies_path %> </li>   <li>
             
                    </li>
              
               
        </ul>
<% end %>
  

   <h2>Linki do zatwierdzenia </h2>
    <%= form_tag approve_links_path, method: :put do %>
<table class="table" id="links">
    <tr>
      <th></th>
      <th>Tytuł,<br> autor</th>
      <th>URL,git pu <br> opis</th>

      <th>Akcje</th>


    </tr>

      <% @links.each do |link| %>
      <tr>
        <td><%= check_box_tag "link_ids[]", link.id %></td>
        <td><%= link.title %> <br><i> @<%= link.user.login %> </i> </td>
        <td><i><%= link_to link.url.truncate(25), link %> </i><br><%= link.description %></td>
    

       <td>  <%= link_to 'Edytuj', edit_link_path(link) %> <br>
        <%= link_to 'Usuń', link, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
      <% end %>
    </table>
      <%= submit_tag "Zatwierdź do publikacji" ,  class: "btn btn-default" %> 
    <% end %>

<h2>Opublikowane</h2>
<table class="table" id="links">
  <tr>
    <th>id</th>
    <th>Tytuł</th>
    <th>Akcje</th>

  </tr>
  <% @approved.each do |link| %>
  <tr>
    <td><%= link.id %></td>
    <td><%= link_to link.title, link %> <br><i> @<%= link.user.login %> </i> </td>

    <td><%= link.status%></td>
    <td><%= link_to 'Pokaż', link_path(link) %> <br>  <%= link_to 'Edytuj', edit_link_path(link) %> <br>
        <%= link_to 'Usuń', link, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
 
    
  </tr>
  <% end %>
</table>

