

<%= form_for([@vocabulary, @word]) do |f| %>

<br>
<h3> Dodaj nowe słówko do kategorii</h3>
    <div class="form-group ">

  <div class="field">
    <%= f.label 'Polski' %><br>
    <%= f.text_field :polish, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Hiszpański' %><br>
    <%= f.text_field :spanish, class: "form-control " %>
  </div>
  <div class="field">
    <%= f.label 'Opis' %><br>
    <%= f.text_area :description, class: "form-control"  %>
  </div>



  <div class="actions">
    <%= f.submit  'Zapisz' %>
  </div>

</div>
<% end %>
