<p id="notice"><%= notice %></p>

<p>
  <strong>Polski:</strong>
  <%= @word.polish %>
</p>

<p>
  <strong>Hiszpański:</strong>
  <%= @word.spanish %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @word.description %>
</p>

<p>
  <strong>ID:</strong>
  <%= @word.vocabulary_id %>
</p>

<%= link_to 'Edytuj', edit_vocabulary_word_path(@word) %> |
<%= link_to 'Powrót', vocabulary_words_path %>
