<p id="notice"><%= notice %></p>

<p>
  <strong>Polish:</strong>
  <%= @word.polish %>
</p>

<p>
  <strong>Spanish:</strong>
  <%= @word.spanish %>
</p>

<p>
  <strong>Description:</strong>
  <%= @word.description %>
</p>

<p>
  <strong>Vocabulary:</strong>
  <%= @word.vocabulary_id %>
</p>

<%= link_to 'Edit', edit_vocabulary_word_path(@word) %> |
<%= link_to 'Back', vocabulary_words_path %>
