<%= form_for @theory,  html: { multipart: true } do |f| %>
  <% if @theory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theory.errors.count, "error") %> prohibited this theory from being saved:</h2>

      <ul>
      <% @theory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Tytuł %><br>
    <%= f.text_field :title %>
  </div>
    <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :Treść %><br>
    <%= f.text_area :body, :class => "tinymce", :rows => 20, :cols => 120 %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


