<%= form_for @theory,  html: { multipart: true } do |f| %>
  <% if @theory.errors.any? %>
    <div id="error_explanation">
      <h2>Zagadnienie nie zostało dodane z powodu <%= @theory.errors.count %> <% if @theory.errors.count == 1 %> błędu. <% else %> błędów. <% end %> </h2>

      <ul>
      <% @theory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group ">
  <div class="field">
    <%= f.label :Tytuł %><br>
    <%= f.text_field :title, class: "form-control "  %> 
  </div>
    <div class="field">
    <%= f.label "Obrazek" %><br>
    <%= f.file_field :image  %> 
  </div>

  <div class="field">
    <%= f.label "Krótki opis" %><br>
    <%= f.text_area :short, class: "form-control ", :rows => 4, :cols => 120 %>
  </div>

  <div class="field">
    <%= f.label :Treść %><br>
    <%= f.text_area :body, :class => "tinymce", :rows => 20, :cols => 120   %> 

  </div>

 <div class="field">
    <%= f.label 'Poziom' %><br>
    <%= collection_select(:theory, :level_id, Level.all, :id, :name, {prompt: "Wybierz z listy"},  class: "form-control" )%>
  </div>
  

  


  <div class="actions">
    <%= f.submit "Zapisz",  class: "btn btn-default"  %>
  </div>

</div>
<% end %>