
<% content_for :cattitle do %> 

GRAMATYKA
<% end %>

<% content_for :catdes do %> 
 POZIOM <%= @level.name.upcase %>
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>



<% content_for :rightmenu do %>
   <ul class="nav nav-stacked">

         
                    <li><h3 class="highlight">POZIOM </i></h3></li>
                       <li><%= link_to "Wszystkie", theories_path %></li>
                    <li><%= link_to "Początkujący", theories_level_path(1) %></li>
                    <li><%= link_to "Średniozaawansowany", theories_level_path(2) %></li>
                    <li><%= link_to "Zaawansowany", theories_level_path(3) %></li>
              
                       <li><h3 class="highlight">SZUKAJ ZAGADNIENIA </i></h3></li>
                    <li>
                      <%= form_tag(theories_path, :method => "get", class: "form-inline", id: "search-form") do %>
                        <div class="input-group">
                          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
                          <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
                               of using a Rails form helper --><div class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></div>
                        </div>
                      <% end %>
                    </li>
              
        </ul>




<% end %>



   <% @theories.each do |theory| %>
  
 <div class="row">

   <% unless  theory.image.blank? %>   <div class="col-md-9 shorttext">     <% end %>

      <% if  theory.image.blank? %>   <div class="col-md-12 shorttext">     <% end %>

        <h2><%= link_to theory.title, theory %></h2>
        <p class="date"><%= theory.created_at.strftime("%d-%m-%Y %H:%M:%S") %> <i> @<%= theory.user.login %>  </i>
              <% if user_signed_in? %>   
        <%= link_to 'Edytuj', edit_theory_path(theory) %>
        <%= link_to 'Usuń', theory, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% end %>

      <%= Loofah.fragment(strip_tags(theory.body.truncate_words(50))) %>

        <%= link_to "czytaj więcej", theory %>
        
       </div> 
            <% unless  theory.image.blank? %>
         <div class="col-md-2">
                  <div class="thumbimage"> <%= image_tag theory.image.url(:thumb) %> </div>
         </div>
      <% end %>

</div>

<% end %>

<div class="text-center"><%= paginate @theories %></div>

<br>
<!-- 
<%= link_to 'New News', new_article_path %>
 -->