<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                    <li>  <h3 class="highlight" > <%= link_to 'DODAJ LINK', new_link_path %> </h3></li>
                    <li><h3 class="highlight">POZIOMY </i></h3></li>
                     <li><a href="/theories">Wszystkie</a></li>
                    <li><a href="/levels/1">  Początkujący</a></li>
                    <li><a href="/levels/2"> Średniozaawansowany</a></li>
                    <li><a href="/levels/3">Zaawansowany</a></li>
              
                   
        </ul>



<% end %>
<p id="notice"><%= notice %></p>


<h2>
  <%= @theory.title %>
</h2>

<div style="float: left">
  <%= image_tag @theory.image(:medium), :class => "main-image" %>
  <%= @theory.body.html_safe %>
</div>

<%= link_to 'Edit', edit_theory_path(@theory) %> |
<%= link_to 'Back', theories_path %>
