<% content_for :cattitle do %> 

GRAMATYKA 
<% end %>

<% content_for :catdes do %> 
  <%= @theory.title.upcase %>
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>



<% content_for :rightmenu do %>
 

<% unless user_signed_in? %>
      <div class="welcome" > 
        <h3 class="highlight">  </h3> 
        <%= link_to "Zarejestruj się", new_user_registration_path %> lub <br> <%= link_to "zaloguj", new_user_session_path %> aby móc <br> rozwiązywać ćwiczenia i korzystać ze wszystkich opcji serwisu!
    </p>
  </div>
<% end %>


   <ul class="nav nav-stacked">
<% unless @surveys == nil %>


           <% if user_signed_in? %>
         <li>  <h3 class="highlight" > ĆWICZENIA </h3></li>
      <% @surveys.each do |survey| %>
    
      <li>  <%= link_to survey.name, new_attempt_path(survey_id: survey.id) %> </li>
   
    <% end %>
<% end %>
    <% end %>

        </ul>




<% end %>
<p id="notice"><%= notice %></p>


<h2>
  <%= @theory.title %>
</h2>

<p class="date"><%= @theory.created_at.strftime("%d-%m-%Y %H:%M:%S") %><i> @<%= @theory.user.login %>  </i></p>

<div style="float: left">
<% unless @theory.image.blank? %><%= image_tag @theory.image(:medium), :class => "main-image" %> <% end %>
  <%= @theory.body.html_safe %>
</div>


<br><br>

     <% if user_signed_in? %> 
<%= link_to 'Edit', edit_theory_path(@theory) %> | <% end %>
<%= link_to 'Powrót', theories_path %>
