<% content_for :cattitle do %> 
  GRAMATYKA 
<% end %>

<% content_for :catdes do %> 
  <%= @theory.title.upcase %>
<% end %>

<% content_for :rightmenu do %>

<% unless user_signed_in? %>

    <div class="welcome" >  
    <h3 class="highlight">  </h3> 
     
    <%= link_to "Zarejestruj się", new_user_registration_path %> lub  <%= link_to "zaloguj", new_user_session_path %> 
    aby uzyskać dostęp do wszystkich funkcjonalności!<br>    <%= link_to "Dowiedz się więcej", about_path %>
    
  </p>
  </div>
<% end %>


   <ul class="nav nav-stacked">

        <% if user_signed_in? %>  
         <li>  <h3 class="highlight" > <%= link_to 'DODAJ ZAGADNIENIE', new_theory_path %> </h3></li> 
        <% end %>

       <% unless @surveys.first == nil %>

           <% if user_signed_in? %>
             <li>  <h3 class="highlight" > ĆWICZENIA </h3></li>
            <% @surveys.each do |survey| %>
        
            <li>  <%= link_to survey.name, new_attempt_path(survey_id: survey.id) %> </li>
         
          <% end %>
        <% end %>
      <% end %>

  </ul>


<% end %>


<% if @theory.status == "approved" %>
<h2>
  <%= @theory.title %>
</h2>

<p class="date"><%= @theory.created_at.strftime("%d-%m-%Y %H:%M:%S") %><i> @<%= @theory.user.login %>  </i>         
  <% if @theory.level_id %> | <i> <%= @theory.level.name %> </i><% end %></p>

<div style="float: left">
<% unless @theory.image.blank? %><%= image_tag @theory.image(:medium), :class => "main-image" %> <% end %>
  <%= @theory.body.html_safe %>
</div>

<% else %>

<h3> To zagadnienie zostanie opublikowane po sprawdzeniu przez moderatora. </h3>

<br><br>

<% end %>


<% if user_signed_in? %> 

<%= link_to 'Edytuj', edit_theory_path(@theory) %> | <% end %>
<%= link_to 'Powrót', theories_path %>
