<% content_for :cattitle do %> 

GRAMATYKA 
<% end %>

<% content_for :catdes do %> 
  <%= @theory.title.upcase %>
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>



<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">
<% unless @surveys == nil %>


                    <li>  <h3 class="highlight" > ĆWICZENIA </h3></li>
      <% @surveys.each do |survey| %>
    
      <li>  <%= link_to "TEST", new_attempt_path(survey_id: survey.id) %> </li>
   
    <% end %>

    <% end %>

        </ul>




<% end %>
<p id="notice"><%= notice %></p>


<h2>
  <%= @theory.title %>
</h2>

<div style="float: left">
  <%= image_tag @theory.image(:medium), :class => "main-image" %>
  <%= @theory.body.html_safe %>
</div>





<%= link_to 'Edit', edit_theory_path(@theory) %> |
<%= link_to 'Back', theories_path %>
