<%= form_for(@vocabulary) do |f| %>
  <% if @vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vocabulary.errors.count, "error") %> prohibited this vocabulary from being saved:</h2>

      <ul>
      <% @vocabulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group ">

  <div class="field">
    <%= f.label 'Polska nazwa' %><br>
    <%= f.text_field :polish , class: "form-control " %>
  </div>
  <div class="field">
    <%= f.label 'Hiszpańska nazwa' %><br>
    <%= f.text_field :spanish , class: "form-control "%>
  </div>
  <div class="field">
    <%= f.label 'Krótki opis' %><br>
    <%= f.text_area :description, class: "form-control " %>
  </div>

 <div class="field">
    <%= f.label 'Poziom' %><br>
    <%= collection_select(:vocabulary, :level_id, Level.all, :id, :name, {prompt: "Wybierz z listy"},  class: "form-control" )%>
  </div>
  

  


  <div class="actions">
    <%= f.submit 'Zapisz' ,  class: "btn btn-default"  %>
  </div>
</div>
<% end %>
