<% content_for :cattitle do %> 
 SŁOWNICTWO
<% end %>

<% content_for :catdes do %> 
BAZA HISZPAŃSKICH SŁÓWEK
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>

<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                <% if user_signed_in? %>         <li>  <h3 class="highlight" > <%= link_to 'DODAJ NOWY ZESTAW', new_vocabulary_path %> </h3></li> <% end %>
                    <li><h3 class="highlight">POZIOM </i></h3></li>
                    <li><%= link_to "Wszystkie", vocabularies_path %></li>
                    <li><%= link_to "Początkujący", vocabularies_level_path(1) %></li>
                    <li><%= link_to "Średniozaawansowany", vocabularies_level_path(2) %></li>
                    <li><%= link_to "Zaawansowany", vocabularies_level_path(3) %></li>
                      
   </ul>



<% end %>










<table class="table" id="links">

  <tbody>
    <% @vocabularies.each do |vocabulary| %>
      <tr>
        <td><%= link_to vocabulary.polish, vocabulary %></td>
          <td><%= vocabulary.spanish %></td>
            <td><%= vocabulary.description %></td>
        <td><%= link_to 'Show', vocabulary %></td>
        <td><%= link_to 'Edit', edit_vocabulary_path(vocabulary) %></td>
        <td><%= link_to 'Destroy', vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

