<%= form_for(@survey, :url => survey_scope(@survey)) do |f| %>

  <% if f.object.errors.messages.any? %>
    <ul>
      <% f.object.errors.messages.each_pair do |field, msg| %>
        <li>
          <%= "#{field} - #{msg}" %>
        </li>
      <% end -%>
    </ul>
  <% end -%>

  <div class="form-group ">
    <%= f.label "Nazwa" %> <br />
    <%= f.text_field :name , class: "form-control "  %> <br />
    <%= f.label "Ilość dopuszczalnych prób" %> <br />
  <%= f.text_field :attempts_number , class: "form-control "  %> <br />
    <%= f.label "Aktywny w serwisie" %> <br />
    <%= f.select :active, ["true", "false"], {prompt: "Wybierz z listy"}, class: "form-control "  %>
  </div>

  <div class="field">
    <%= f.label "Opis" %> <br />
    <%= f.text_area :description, :size => "100x5" , class: "form-control "  %> <br />
  </div>

  <br/ >

  <div class="field">
    <ul>
      <%= f.fields_for :questions do |builder| %>
          <%= render "question_fields", :f => builder %>
      <% end %>
    </ul>
    <br/ >
    <%= link_to_add_field "Dodaj nowe pytanie", f, :questions %>
  </div>

  <br/ >



 <div class="field">
    <%= f.label 'Przyporządkuj do zagadnienia gramatycznego' %><br>
    <%= collection_select(:survey_survey, :theory_id, Theory.all.order('title ASC'), :id, :title, {prompt: "Wybierz z listy"},  class: "form-control" )%>
  </div>

   <div class="field">
    <%= f.label 'Przyporządkuj do artykułu' %><br>
    <%= collection_select(:survey_survey, :article_id, Article.all.order('title ASC'), :id, :title, {prompt: "Wybierz z listy"},  class: "form-control" )%>
  </div>
  
  

  <div class="field">
    <%= f.submit "Zapisz",  class: "btn btn-default"  %>
  </div>
<% end -%>

<script type="text/javascript">
  // remove attachment field
  function removeField(link) {
    $(link).prev("input[type=hidden]").val("true");
    tag = $(link).closest("li")
    tag.hide("fade in").addClass("deleted");
  }

  // add attachment field
  function addField(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    var html = $(content.replace(regexp, new_id)).hide();
    html.appendTo($(link).closest("div.field").find("ul").first()).slideDown("slow");
  }
</script>