
  <div class="field ">
    <%= f.label "Odpowiedź"  %> <br/ >
   <div class="col-lg-9">  <%= f.text_field :text, class: "form-control " %>   </div>
    <%= f.check_box :correct %>
    <%= f.label "Poprawna" %>
    <%= link_to_remove_field "Usuń", f %>
  </div>
