
<% content_for :cattitle do %> 

ĆWICZENIA
<% end %>

<% content_for :catdes do %> 
QUIZY ZE SŁOWNICTWA I GRAMATYKI
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>

<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                    <li>  <h3 class="highlight" > <%= link_to 'DODAJ QUIZ', new_survey_path %> </h3></li>
                
              
                   
        </ul>



<% end %>



<div class="questionnaires_<%= action_name %>">

 

<br><br>
  <table class="table table-striped">
    <tbody>
      <th> Nazwa testu </th>
      <th> Weź udział </th>
      <th> Twój wynik </th>
             <th>gramatyka</th>
    <% @surveys.each do |survey| %>
      <tr><td>
        <%= link_to survey.name, edit_survey_path(survey) %>
      </td>
        <td>
       <%= link_to 'test', new_attempt_path(survey_id: survey.id) %>
      </td>
        <td>
       <%= link_to 'wynik', attempt_path(survey.id) %>
      </td> 

  <td>
       <%= survey.theory_id %> <% if survey.theory_id == nil %> puste <% end %>


      </td> 
    </tr>
    <% end %>
  </tbody>
  </table>

</div>
