
<% content_for :cattitle do %> 

ĆWICZENIA
<% end %>

<% content_for :catdes do %> 
QUIZY ZE SŁOWNICTWA I GRAMATYKI
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>

<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                    <li>  <h3 class="highlight" > <%= link_to 'DODAJ QUIZ', new_survey_path %> </h3></li>
                
              
                   
        </ul>



<% end %>




<table class="table" id="links">
    <tbody>

    <% @surveys.each do |survey| %>
 <tr>
        <td>
        <%= link_to survey.name, edit_survey_path(survey) %>
      </td>
        <td>
       <%= link_to 'Rozwiąż', new_attempt_path(survey_id: survey.id) %>
      </td>
        <td>
       <%= link_to 'Twój wynik', attempt_path(survey.id) %>
      </td> 



  <td>
       <%= survey.theory_id %> <% if survey.theory_id == nil %> puste <% end %>

  </td> 


  <td>
       <%= survey.article_id %> <% if survey.article_id == nil %> puste <% end %>

  </td> 

  <td>
       <%= survey.vocabulary_id %> <% if survey.vocabulary_id == nil %> puste <% end %>

  </td> 

       <td><%= link_to 'Destroy', survey_path(survey), method: :delete, data: { confirm: 'Are you sure?' } %></td> 

    </tr>
    <% end %>
  </tbody>
  </table>

