  <% content_for :cattitle do %> 
 MODERACJA
<% end %>

<% content_for :catdes do %> 
   ĆWICZENIA
<% end %>


<% content_for :rightmenu do %>
     <ul class="nav nav-stacked">

         
                    <li><h3 class="highlight">MODERACJA </i></h3></li>
                    <li><%= link_to "Artykuły", moderation_articles_path %> </li>
                  <li><%= link_to "Gramatyka", moderation_theories_path %> </li>
                  <li><%= link_to "Ćwiczenia", users_path %> </li>
                  <li><%= link_to "Linki", moderation_links_path %> </li>
                  <li><%= link_to "Słownictwo", moderation_vocabularies_path %> </li>   <li>
             
                    </li>
              
               
        </ul>
<% end %>
  


   <h2>Ćwiczenia do zatwierdzenia </h2>
    <%= form_tag approve_articles_path, method: :put do %>
<table class="table" id="links">
    <tr>
      <th></th>
      <th>Tytuł,<br> autor</th>
      <th>Treść</th>

      <th>Akcje</th>


    </tr>

      <% @surveys.each do |survey| %>
      <tr>
        <td><%= check_box_tag "survey_ids[]", survey.id %></td>
        <td>    <%= link_to survey.name, new_attempt_path(survey_id: survey.id) %> <br><i> @<%= User.find(survey.user_id).login %> </i> </td>
        <td><%= survey.description %></td>
    

     

<td> <%= link_to 'Edytuj', edit_survey_path(survey) %>
      <br>
       <td><%= link_to 'Usuń', survey_path(survey), method: :delete, data: { confirm: 'Are you sure?' } %></td> 


      </tr>
      <% end %>
    </table>
      <%= submit_tag "Zatwierdź do publikacji" ,  class: "btn btn-default" %> 
    <% end %>

<h2>Opublikowane</h2>
<table class="table" id="links">
  <tr>
    <th>id</th>
    <th>Tytuł</th>
    <th>Akcje</th>

  </tr>
  <% @approved.each do |survey| %>
  <tr>
    <td><%= survey.id %></td>
    <td>    <%= link_to survey.name, new_attempt_path(survey_id: survey.id) %><br><i>@<%= User.find(survey.user_id).login %>  </i> </td>

    <td><%= survey.status%></td>
    <td>  <%= link_to 'Edytuj', edit_article_path(survey) %> <br>
        <%= link_to 'Usuń',  survey_path(survey), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
 
    
  </tr>
  <% end %>
</table>

