<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>Nie zapisano kategorii z powodu <%= pluralize(@category.errors.count, "error") %> błędów.</h2>
      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group ">
  <div class="field" >
    <%= f.label 'Nazwa' %><br>
    <%= f.text_field :name , class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit  "Zapisz" ,  class: "btn btn-default"  %>
  </div>
</div>
<% end %>
