
<% content_for :cattitle do %> 


 BAZA LINKÓW
<% end %>

<% content_for :catdes do %> 
LISTA KATEGORII
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>



<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                    <li>  <h3 class="highlight" > <%= link_to 'DODAJ KATEGORIĘ', new_category_path %> </h3> </li>


<% end %>








<h1>Kategorie linków</h1>

<table class="table" id="links">


  <tbody>
    <% @categories.each do |category| %>
      <tr>
           <td><%= category.id %></td>
        <td><%= category.name %></td>

        <td><%= link_to 'Wyświetl', category %></td>
        <td><%= link_to 'Edytuj', edit_category_path(category) %></td>
        <td><%= link_to 'Usuń', category, method: :delete, data: { confirm: 'Na pewno chcesz usunąć kategorię?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


