<% content_for :cattitle do %> 


ĆWICZENIA
<% end %>

<% content_for :catdes do %> 
  <%= @survey.name.upcase %>
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>


<!-- <h1>Listing News</h1> -->


<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

                    <li>  <h3 class="highlight" > POWIĄZANE ĆWICZENIA </h3></li>
                      <% @surveys.each do |survey| %>
    
     					 <li>  <% unless survey.id == @survey.id %> <%= link_to survey.name, new_attempt_path(survey_id: survey.id) %> <% end %> </li>
   
					<% end %>

              
                   
        </ul>



<% end %>




<% if @survey.nil? %>
  <p>
    <%= @participant.email %> there are not Active Surveys right now.
  </p>
<% elsif @survey.avaliable_for_participant?(@participant) %>
  <%= render 'form' %>
<% else %>
  <p>
    <%= @participant.email %> spent all the possible attempts to answer this Survey
  </p>
<% end -%>