<% content_for :cattitle do %> 
    ĆWICZENIA
<% end %>

<% content_for :catdes do %> 
    <%= @survey.name.upcase %>
<% end %>

<% content_for :rightmenu do %>
 
   <ul class="nav nav-stacked">

      <li>  <h3 class="highlight" > POWIĄZANE ĆWICZENIA </h3></li>
        <% @surveys.each do |survey| %>

			 <li>  <% unless survey.id == @survey.id %> <%= link_to survey.name, new_attempt_path(survey_id: survey.id) %> <% end %> </li>

        <% end %>  
                   
        </ul>
<% end %>

<% if @survey.nil? %>
  <p>
    <%= @participant.email %> brak aktywnych ćwiczeń.
  </p>
<% elsif @survey.avaliable_for_participant?(@participant) %>

  <%= render 'form' %>

<% else %>
  <p>
    <%= @participant.email %> brak dodatkowych prób.
  </p>
<% end %>